body {
	margin: 0;
	padding: 0;
	background-color: #5BC15B;
}
.happy-container {
	width: 100%;
	height: 100%;
	text-align: center;
}
.happy-icon {
	height: 80%;
	padding-top: 25px;
}
.happy-resp {
	font-size: 6em;
	/*font-family: 'Chewy', cursive;*/
	color: #fff;
}