body, html {
	margin: 0;
	padding: 0;
}
.header-ele, .footer-ele {
	width: 100%;
	height: 200px;
	background-color: #5E5E5E;
	position: relative;
	left:  0px;
	right: 0px;
	text-align: center;
	padding: 10px;
}
.header-ele {
	top:  0px;
	border-bottom: 4px solid #000;
}
.footer-ele {
	/*visibility: hidden;*/
	bottom: 0px;
	border-top: 4px solid #000;
}
.title, .happy-choice, .sad-choice, .happy-resp, .sad-resp {
	font-family: 'Chewy', cursive;
	color: #fff;
}
.title, .happy-choice, .sad-choice {
	text-shadow: 4px 4px #000;
}
.title {
	font-size: 10em;
	line-height: 150px;
	margin: 0;
	padding: 10px;
}
.happy-text, .sad-text {
	-webkit-transition: color 500ms ease;
	-moz-transition: color 500ms ease;
	-o-transition: color 500ms ease;
	transition: color 500ms ease;
}
.happy-text {
	color: #5BC15B;
}
.sad-text {
	color: #7757BF;
}
.content-wrap {
	width: 100%;
	height: 500px;
}
.happy-side, .sad-side {
	width: 50%;
	height: 100%;
	text-align: center;
	float: left;
	padding-top: 125px;
	-webkit-transition: background-color 500ms ease;
	-moz-transition: background-color 500ms ease;
	-o-transition: background-color 500ms ease;
	transition: background-color 500ms ease;
}
.happy-side {
	background-color: #5BC15B;
	/*border-right: 2px solid #000;*/
}
.happy-side:hover {
	background-color: #78FF78;
}
.happy-choice, .sad-choice {
	font-size: 5em;
}
.sad-side {
	background-color: #7757BF;
	/*border-left: 2px solid #000;*/
}
.sad-side:hover {
	background-color: #9F74FF;
}

@media only screen and (max-width: 800px) {
	.title {
		font-size: 8em;
	}
}